{{#classes}}## Classes <a name='_classes'></a>

{{>classes-index}}

{{#each this}}### {{@key}}<a name='_classes-{{@key}}'></a>

|Name | Type | filter_index | order_index | unique |
|-----|------|--------------|-------------|--------|
{{#each this}}{{>class-row}}
{{/each}}
{{/each}}{{/classes}}